<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>BeelineProject</title>
    </head>
    <body>
        <div class="container">

            <div class="header">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="staticMenu">
                            <img src="../images/beelineLogo.png" alt="beelineLogo">
                            <img src="../images/menuBut1.png" alt="menu" id="menuOpenBut" >
                        </li>
                        <li id="activeMenu">
                            <ul class="menu-list">
                                <li class="staticMenu">
                                    <img src="../images/beelineLogo.png" alt="beelineLogo">
                                    <img src="../images/menuBut2.png" alt="back" id="menuCloseBut">
                                </li>
                                <li class="elements">
                                    <a href="#pluses" class="links">Какие плюсы?</a>
                                </li>
                                <li class=" elements" id="desctop-element">
                                    <a href="#aboutRespondent" class="links">Что потребуется от тебя</a>
                                </li>
                                <li class=" elements" id="mobile-element">
                                    <a href="#joinUs" class="links">Как принять участие?</a>
                                </li>
                                <li class=" elements">
                                    <a href="#mission" class="links">Наша миссия</a>
                                </li>
                                <li class=" elements">
                                    <a href="#joinUsBut" class="links">Присоединиться</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="becomeRespondent-block">
                    <div class="text">
                        <h1>
                            Стань нашим респондентом
                        </h1>
                        <p>
                            Мы хотим услышать твое мнение, опыт и боли общения с цифровыми продуктами Beeline.
                        </p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfm_Yj07urIb_fF0mTRGZgl5DWt5lC2qYd4TngwXWMgMHiYMg/viewform?usp=sf_link">                             
                            Я готов!
                        </a>
                    </div>
                    <div class="img">
                        <img src="../images/becomeRespondentImg.png" alt="becomeRespondentImg">
                    </div>
                </div>
            </div>

            <div class="content">

                <div class="aboutRespondent-block" >
                    <a name="aboutRespondent"></a>
                    <h1>Кто такой респондент?</h1>
                    <p>Респондент - человек, принимающий участие в опросе, интервью или тестировании дизайна. Мы используем твои ответы в проектировании новых продуктов, чтобы сделать их понятнее, удобнее и приятнее для пользователей.</p>
                </div>
                
                <div class="pluses-block">
                    <a name="pluses"></a>
                    <h1>Какие плюсы?</h1>    

                    <div class="cards-block">

                        <div class="card c1">
                            <div class="card-info">
                                <img src="../images/imgCard1.png" alt="imgCard1">
                                <h2 class="c1">Будь первым</h2>
                                <p class="plusesActiveText c1">Ты первым увидишь наши новые продукты и поучаствуешь в их разработке</p>
                            </div>
                        </div>
                        
                        <div class="card c2">
                            <div class="card-info">
                                <img src="../images/imgCard2.png" alt="imgCard2">
                                <h2 class="c2">Поделись опытом</h2>
                                <p class="c2">Будем рады узнать о твоем опыте использования наших продуктов</p>
                            </div>
                        </div>

                        <div class="card c3">
                            <div class="card-info">
                                <img src="../images/imgCard3.png" alt="imgCard3">
                                <h2 id="c3">Получи уникальную ачивку</h2>
                                <p class="c3">Блестящая, свеженькая и такая уникальная ачивка в приложении “Мой Билайн”</p>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="joinUs-block">
                    <a name="joinUs"></a>
                    <h1>Как принять участие?</h1>

                    <div class="joinUs-block_points-group">
                        <div class="joinUs-point">
                            <div class="point-image_block">
                                <img src="../images/Group1.png" alt="" class="point-img">
                            </div>
                            <div class="point-name">
                                Оставь <a href="https://docs.google.com/forms/d/e/1FAIpQLSfm_Yj07urIb_fF0mTRGZgl5DWt5lC2qYd4TngwXWMgMHiYMg/viewform?usp=sf_link">заявку</a>
                            </div>
                            <p>
                                Заполни форму максимально честно, выбери продукты которые хочешь тестировать
                            </p>
                        </div>

                        
                        <div class="joinUs-point">
                            <div class="point-image_block">
                                <img src="../images/Group2.png" alt="" class="point-img">
                            </div>
                            <div class="point-name">
                                Ожидай приглашения на интервью
                            </div>
                            <p>
                                Будь на связи :) Мы напишем тебе заранее и договоримся об удобном времени. Обычно интервью не занимает больше 30-40 минут. 
                            </p>
                        </div>
                        
                        <div class="joinUs-point">
                            <div class="point-image_block">
                                <img src="../images/Group3.png" alt="" class="point-img">
                            </div>
                            <div class="point-name">
                                Позаботься об окружении
                            </div>
                            <p>
                                Выбери спокойное, тихое место с хорошим интернетом. Обязательно приноси с собой хорошее настроение😉
                            </p>
                        </div>
                        
                        <div class="joinUs-point">
                            <div class="point-image_block">
                                <img src="../images/Group4.png" alt="" class="point-img">
                            </div>
                            <div class="point-name">
                                Получи клевую ачивку
                            </div>
                            <p>
                                После первого интервью, в приложении Мой Билайн тебе откроется новая ачивка «Яркий пиздюк». Спасибо, что ты с нами!                                
                            </p>
                        </div>
                    </div>
                </div>

                <a name="mission"></a>
                <div class="mission-block">
                    <div class="img">
                        <img src="../images/missionImg.png" alt="missionImg">
                    </div>
                    <div class="text">
                        <h1>
                            Наша миссия
                        </h1>
                        <p id="mission-block_desctop-text">
                            Тебя тоже раздражает, когда ты пользуешься приложением или сайтом и непонятно куда нажать? Когда попадаешь на пустой экран после ввода данных? 
                        <br>
                        <br>
                            Нам тоже это не нравится!
                        <br>
                        <br>
                            Мы хотим улучшать наши продукты, делать их проще и удобнее для пользователя. Присоединяйся, без тебя нам не обойтись!
                        </p>


                        <p id="mission-block_mobile-text">
                            Тебя тоже бесит когда, ты пользуешься приложением или сайтом и непонятно куда нажать, непонятно что происходит или вообще попадаешь на пустой экран после ввода данных?
                        <br>
                        <br>
                            Нам тоже это не нравится!
                        <br>
                        <br>
                            Мы хотим улучшать наши продукты, делать их проще и удобнее для пользователя. Присоединяйся, без тебя нам не обойтись!
                        </p>

                        <a name="joinUsBut" href="https://docs.google.com/forms/d/e/1FAIpQLSfm_Yj07urIb_fF0mTRGZgl5DWt5lC2qYd4TngwXWMgMHiYMg/viewform?usp=sf_link">
                            Присоединиться
                        </a>
                    </div>
                </div>
            </div>
            
        </div>


        <script >
            menuOpenBut.onclick = function(){
                menuOpenBut.style.display = 'none';
                menuCloseBut.style.display = 'block';
                activeMenu.style.display = 'block';
            }

            menuCloseBut.onclick = function(){
                menuOpenBut.style.display = 'block';
                menuCloseBut.style.display = 'none';
                activeMenu.style.display = 'none';
            }
        </script>
    </body>
</html>